include ../button/button
include ../company/company
include ../subscriber/subscriber

mixin session(order)
    .session
        .session__header
            .header_content
                img.header_content__avatar(src=order.owner.avatar)
                .info_owner
                    .info_owner__name= order.owner.name
                    .info_owner__time= order.creatingTime

                if user._id + '' == order.owner._id + ''
                    .header_content__button(onclick="document.getElementById('session').style.display='none'") X

        hr
        .session__main
            .main_content
                .main_content__dishes Список блюд
                    ul
                    each zakaz in order.orders
                        li.session__dish=zakaz.dish.title
            .session__controls
                if user
                    .control
                        .control__chat(onclick="document.getElementById('chat').style.display='block'")
                            +button("Чат", [], {"type": "submit"})


                        if user._id + '' == order.owner._id + ''
                            .control__order
                                form(action="/toOrder", method="post")
                                    +button("Заказать", [], {"type": "submit", "name": "action", "value": "menu"})
                        else
                            .control__order
                                form(action="/mymenu", method="post")
                                    input(type="hidden", name="orderId" value=order._id)
                                    +button("Присоединиться", [], {"type": "submit", "name": "action", "value": "menu"})

        .session__subscriber
            .subscriber__title
                .title__title Подписчики
                img(class="title__down" src="../images/down.png" onclick="openbox('list'); return false")
            #list.subscriber__list
                each subscriber in order.subscriber
                    +subscriber(subscriber.person.name, subscriber.dishes, subscriber._id, subscriber, order)

        script.
            function openbox(id) {
                var display = document.getElementById(id).style.display;

                if (display == 'none') {
                    document.getElementById(id).style.display = 'block';
                } else {
                    document.getElementById(id).style.display = 'none';
                }
            }
