mixin subscriber(subscriber, order)
    if user && user._id + '' == order.owner._id + ''
        .subscriber
            input.subscriber_id(type='hidden' value=subscriber._id)
            img.subscriber__avatar(src=subscriber.person.avatar)
            .subscriber__person
                .subscriber__name= subscriber.person.name
                if subscriber.paid
                    .subscriber__paid (оплачено)
                else
                    .subscriber__paid (не оплачено)
                .subscriber__sum= subscriber.paymentSum + ' руб.'
            .subscriber__input
                -var uniqueIdForCheckBox = Math.random();
                if subscriber.paid
                    input.subscriber__input_paid(type="checkbox" id=uniqueIdForCheckBox checked)
                    label(for=uniqueIdForCheckBox)
                else
                    input.subscriber__input_paid(type="checkbox" id=uniqueIdForCheckBox)
                    label(for=uniqueIdForCheckBox)

    else if user && user._id + '' == subscriber.person._id + ''
        .subscriber.subscriber-self
            img.subscriber__avatar(src=subscriber.person.avatar)
            .subscriber__person
                .subscriber__name= subscriber.person.name
                if (subscriber.paid)
                    .subscriber__paid (оплачено)
                else
                    .subscriber__paid (не оплачено)
                .subscriber__sum= subscriber.paymentSum + ' руб.'
    else
        .subscriber.subscriber-self
            img.subscriber__avatar(src=subscriber.person.avatar)
            .subscriber__person
                .subscriber__name= subscriber.person.name