extends layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/basket/basket
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/footer/footer
include ../blocks/subscriber/subscriber
include ../blocks/message/message

block title
    title Главная страница
block content
    if user
        +header(user)
        +button("+", ["button_new-order"],{'href': '/services?owner=True'})
    else
        +header()
    .main-wrapper
        .main-page
            if user
                each order in orders
                    +session(order)
        +footer('© M&B Corporation')

    if user
        #chat.chat
            .chat__close(onclick="document.getElementById('chat').style.display='none'")
            .chat__content
                .chat__title
                    span.title__user_name= user.name
                .chat__history
                form.chat__input
                    img(src=user.avatar)
                    .input_message
                        input.form-control(autocomplete='off' style="color: #777;" value="Введите Ваше сообщение.." onfocus="if (this.value == 'Введите Ваше сообщение..') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Введите Ваше сообщение..'; this.style.color = '#777';}")
                        +button("Send!", ['button_size-m'], {"type": "submit"})

        if user
            each order in orders
                if user.name === order.owner.name
                    #orderform.orderform
                        .orderform__close(onclick="document.getElementById('orderform').style.display='none'")
                        .orderform__content
                            .orderform__title
                                .order_title Форма заказа
                            .orderform__contact
                                .info-content__phone
                                    .phone
                                        .phone__title Телефон
                                        input(type="text" class="phone__number" value="+375(29)9789355" id="mytext")
                                    .phone
                                        .phone__title Оператор
                                        input(type="text" class="phone__operator" value="Vel.")
                                    .adress
                                        .adress__title Улица
                                        input(type="text" class="adress__adress" value="Я. Коласа")
                                    .adress
                                        .adress__title Дом
                                        input(type="text" class="adress__adress" value="28")
                                    .adress
                                        .adress__title Корпус
                                        input(type="text" class="adress__adress" value="б")
                                    .adress
                                        .adress__title Квартира
                                        input(type="text" class="adress__adress" value="23")
                            .orderform__dishes
                                each zakaz in order.orders
                                    +eda(zakaz.dish.title, zakaz.count, zakaz.dish.price)
                                each subscriber in order.subscriber
                                    each subDish in subscriber.dishes
                                        .photo(data-title=subDish.title)
                                            img(src=subDish.image)
                            .orderform__input
                                .input__button
                                    +button("Заказать", [], {"type": "submit"})
    script.
        var mainUser = !{JSON.stringify(user)};
    script
        include scripts/chat.js
        include scripts/timeInSession.js




